<article class="container shop-page">
  <section class="row">
    <div class="filter col-3"></div>
    <div class="col-9">
      <app-product-card *ngFor="let product of products$ | async"
                        [product]="product"
                        class="col-3"
      ></app-product-card>
    </div>
  </section>
</article>
