<div *ngIf="brand" [routerLink]="['/shop', brand.name]" class="brand-card">
  <img [src]="brand?.logo || './assets/placeholder.png'" onerror="this.src = './assets/placeholder.png'"/>
</div>
<div *ngIf="!brand" [routerLink]="['/shop']" class="brand-card card-without-brand">
  <span>Go to shop</span>
</div>
