<article class="container landing">
  <section class="row">
    <app-brand-card *ngFor="let brand of brands$ | async"
                    [brand]="brand"
                    class="col-3"
    ></app-brand-card>
    <div class="to-shop">
      <app-brand-card class="col-3"></app-brand-card>
    </div>
  </section>
</article>
